.footer {
  background-color: #efefef;
  border-top: #acaeab solid 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}

.footerMenu {
  margin-right: 150px;
}

.footerMenu p {
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 600px) {
  .flex {
    padding: 20px 10px;
  }

  .footerMenu p {
    padding: 5px 0;
    font-size: 12px;
  }

  .footerMenu {
    margin: 0;
  }
}
