.button {
  border: #0bb200 solid 3px;
  border-radius: 5px;
  background-color: rgba(11, 178, 0, 0.06);
  margin: 50px auto;
  padding: 10px 20px;
  width: 30%;
  min-width: 30%;
}

.text {
  font-weight: 500;
  display: block;
  text-align: center;
  letter-spacing: 3px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .button {
    width: 250px;
  }
}
