.wrapper {
  margin: 50px 0;
}

.label {
  font-weight: 600;
  font-size: 20px;
  margin: 15px 0;
}

.input {
  width: 100%;
  padding: 10px;
  border: #203674 solid 2px;
  border-radius: 3px;
  background-color: rgba(32, 54, 116, 0.05);
}

.error {
  color: red;
  font-weight: 500;
  margin: 5px 3px;
}

@media screen and (max-width: 600px) {
  .label {
    font-size: 15px;
  }

  .error {
    font-size: 13px;
  }
}
